<div class="container">
    <form class="form" method="POST" action="/users/login">
        <h1> Login </h1>
        <div class="form-group">
            <label for="persondata"> PersonData </label>
            <input type="text" class="form-control" id="persondata" name="persondata">
        </div>
        <div class="form-group">
            <label for="password"> Password </label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-info">
            Login
        </button>
    </form>
    <br>
    <a href="/users/signup" class="btn btn-info"> signup</a>
    <p>{{error}}</p>
    
</div>